* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Arial, sans-serif;
	line-height: 1.6;
}
a {
	text-decoration: none;
	color: inherit;
}

.container {
	width: 90%;
	max-width: 1200px;
	margin: auto;
}

/* HEADER */
.header {
	padding: 1rem 0;
}
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	font-weight: bold;
	font-size: 1.2rem;
	color: #f97a00;
}

nav ul {
	list-style: none;
	display: flex;
	gap: 1.5rem;
}

ul li a {
	color: #f97a00;
}

.btn {
	background: #f97a00;
	color: white;
	padding: 0.5rem 1rem;
	border-radius: 5px;
	display: inline-block;
}

/* Hamburger */
.hamburger {
	display: none;
	flex-direction: column;
	gap: 5px;
	cursor: pointer;
}
.hamburger span {
	width: 25px;
	height: 3px;
	background: #000;
}

@media (max-width: 768px) {
	nav ul {
		display: none;
		flex-direction: column;
		background: #000;
		position: absolute;
		top: 60px;
		right: 0;
		width: 200px;
		padding: 1rem;
	}
	nav ul.active {
		display: flex;
	}
	.hamburger {
		display: flex;
	}
}

#bir {
	background: url("https://res.cloudinary.com/aenetworks/image/upload/c_fill,ar_2,w_3840,h_1920,g_auto/dpr_auto/f_auto/q_auto:eco/v1/topic-london-gettyimages-760251843-feature?_a=BAVAZGDX0")
		no-repeat;
	background-size: cover;
}

.hero {
	display: flex;

	justify-content: right;
	height: 700px;
}

.hero-text {
	max-width: 600px;
	color: #ffffff;
}

.hero-text h1 {
	font-size: 40px;
	text-transform: uppercase;
	margin-bottom: 1rem;
}
.hero-text p {
	margin-bottom: 1rem;
	font-size: 20px;
}
.hero-img img {
	width: 100%;
	max-width: 530px;
}
@media (max-width: 768px) {
	.hero {
		flex-direction: column;
		text-align: center;
	}
}

/* Sections */
section {
	padding: 3rem 0;
}
h2 {
	text-align: center;
}

.about-grid,
.programs-grid,
.country-grid,
.cert-grid,
.partner-grid,
.test-grid {
	display: grid;
	gap: 1.5rem;
}
.about-grid {
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.card {
	background: #222;
	padding: 1.5rem;
	text-align: center;
	border-radius: 10px;
}

.programs-grid {
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.program-card {
	box-shadow: 10px 10px 30px #F97A00;

	border-radius: 10px;
	overflow: hidden;
	text-align: center;
	padding-bottom: 1rem;
}
.program-card img {
	width: 100%;
	display: block;
}

.country-grid {
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	justify-items: center;
}
.country-grid img,
.cert-grid img,
.partner-grid img {
	border-radius: 10px;
	width: 100%;
	height: 100%;
}

.cert-grid {
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	justify-items: center;
}
.partner-grid {
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	justify-items: center;
}

.test-grid {
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.testimonials h2 {
	color: #f97a00;
}


.certificates h2 {
	color: #f97a00;
}

.programs h2 {
	color: #f97a00;
}

.countries h2 {
	color: #f97a00;
}

blockquote {
	border: 1px solid #F97A00;

	padding: 1rem;
	border-left: 5px solid #F97A00;

	border-radius: 5px;
	color: #f97a00;
}

.footer {
	background: #F97A00;
	color: white;
	text-align: center;
	padding: 2rem 0;
	margin-top: 3rem;
	font-size: 20px;
}

.btn2 {
	background: #f97a00;
	color: white;

	height: 50px;
	width: 200px;
	border-radius: 10px;
	border: none;

	font-size: 20px;
}

.about-title {
	font-size: 30px;
	color: #F97A00;
}

.title1 {
	text-align: center;
	font-weight: 700;
	margin: 0 auto;
	font-size: 25px;
	margin-bottom: 40px;
	margin-top: 40px;
	color: #F97A00;
}

.title2 {
	text-align: center;
	max-width: 600px;
	margin: 0 auto;
	font-size: 25px;
	margin-top: 40px;
	margin-bottom: 40px;
	color: #F97A00;
}

.about-grid .card {
	background-color: white;
	color: #F97A00;
	box-shadow: 10px 10px 30px #F97A00;
}

.about-grid .card img {
	max-width: 100%;
}

.about-grid .card h2 {
	font-size: 20px;
}

.links img {
	width: 60px;
}

.links {
	display: flex;
	justify-content: center;
	gap: 20px;
}
